/* https://codepen.io/sosuke/pen/Pjoqqp */
:root {
  --peach: #F9F1E7;
  --light-peach: #FCF8F3;
  --orange: #E89F71;
  --white: #ffffff;
  --white-opacity: #ffffff81;
  --dark-gray: #3A3A3A;
  --gray: #616161;
  --light-gray: #D8D8D8;
  --red: #E97171;
  --green: #2EC1AC;
  --black: #000000;
  --light-bg: #F4F5F7;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body, input, button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.orange-block {
  background-image: linear-gradient(to right, var(--peach) 60%, var(--light-peach) 60%);
}

.white-block {
  background-color: var(--white);
}

.mb {
  margin-bottom: 60px;
}

.pb {
  padding-bottom: 60px;
}

.pt {
  padding-top: 2vh;
}

button {
  background: var(--white);
  border: 1px solid var(--orange);
  padding: 12px 22px;
  color: var(--orange);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: var(--orange);
  border: 1px solid var(--white);
  color: var(--white);
  transition: all ease 0.5s;
}

/* Typography */

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark-gray);
  cursor: default;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark-gray);
  cursor: default;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
  cursor: default;
}

h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
  cursor: default;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
  cursor: default;
}

.title {
  font-weight: 900;
  line-height: auto;
  color: var(--black);
  cursor: default;
}

.title:hover {
  cursor: pointer;
  color: var(--orange);
  transition: all ease 0.5s;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
  cursor: default;
}

p, a, label {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark-gray);
  cursor: default;
}

.small-text {
  font-size: 14px;
}

.big-text {
  font-size: 18px;
}

.large-text {
  font-size: 20px;
}

b {
  font-weight: 800;
  font-size: inherit;
  color: inherit;
}

u {
  font-weight: inherit;
  font-size: inherit;
  color: var(--orange);
  text-decoration: none;
}

.white-text {
  color: var(--white);
}

.light-text {
  color: var(--light-gray);
}

.gray-text {
  color: var(--gray);
}

/* Header */

header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.dropdown-line {
  display: flex;
  gap: 5px;
}

.search {
  display: flex;
}

.search-input {
  padding: 13px 12px 13px 10px;
  color: var(--gray);
  font-size: 14px;
  border: none;
  width: 20vw;
}

.search-input:hover::placeholder {
  color: var(--orange);
}

.search-input:focus-visible {
  outline: none;
  background-color: var(--light-peach);
}

.search-button {
  background-color: var(--white);
  padding: 0 13px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--light-peach);
}

.nav-icon:hover {
  filter: invert(76%) sepia(7%) saturate(3300%) hue-rotate(328deg) brightness(97%) contrast(87%);
  cursor: pointer;
  transition: all ease 0.1s;
}

.active-icon {
  filter: invert(76%) sepia(7%) saturate(3300%) hue-rotate(328deg) brightness(97%) contrast(87%);
}

/* Footer */

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
  padding-top: 5vh;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.footer-list-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}

.footer-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-input {
  padding: 13px 12px 13px 10px;
  color: var(--gray);
  font-size: 14px;
  border: none;
  width: 15vw;
  background-color: var(--light-bg);
}

.footer-input:hover::placeholder {
  color: var(--orange);
}

.footer-input:focus-visible {
  outline: none;
  background-color: var(--light-peach);
}

.footer-input:user-invalid {
  background-color: var(--peach);
  box-shadow: 0px 0px 5px -1px var(--red);
}

.footer-input:user-invalid ~ .footer-button {
  box-shadow: 1px 0px 5px 0px var(--red);
  cursor: default;
}

.footer-input:user-invalid ~ .footer-button:hover {
  opacity: 1;
  user-select: none;
  pointer-events: none;
}

.footer-button {
  background-color: var(--orange);
  padding: 0 9px;
  cursor: pointer;
}

.footer-button:hover {
  opacity: 0.7;
}

/* Main page */

/* Header slider */
.header-slider {
  height: 60vh;
}

.header-slider-inner-block {
  display: flex;
  z-index: 5;
  position: relative;
}

.header-slider-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-opacity);
  padding: 5%;
  width: 30%;
  height: 40vh;
}

.invert {
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.invert:hover {
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}

.control-block {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  width: 65%;
  margin-left: 2%;
}

.points-control-block {
  display: flex;
  gap: 30%;
}

.points-control-input {
  display: none;
}

.points-control-label::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-color: var(--light-gray);
  border-radius: 100%;
}


.arrows-control-block {
  display: flex;
  align-items: center;
  gap: 5%;
}

.arrow-block {
  background-color: var(--orange);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border-radius: 100%;
}

.arrow-block:hover {
  opacity: 0.3;
}

.arrows-control {
  filter: invert(100%) sepia(5%) saturate(7464%) hue-rotate(291deg) brightness(1000%) contrast(105%);
}

.arrow-left {
  transform: rotate(90deg);
}

.arrow-right {
  transform: rotate(270deg);
}

.header-slider-images-block {
  z-index: 0;
  position: relative;
  top: -48vh;
  height: 55vh;
  display: flex;
  margin-left: -50%;
  margin-right: -50%;
  gap: 2vw;
}

.header-slider-image {
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.header-slider-image-text-block {
  width: 20%;
  position: absolute;
  background-color: var(--white-opacity);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  gap: 7px;
  right: 15px;
  bottom: 15px;
}

.header-slider-image-texl-line {
  display: flex;
  align-items: center;
}

.header-slider-image-one {
  background-image: url(../public/banner1.png);
}

.header-slider-image-two {
  background-image: url(../public/banner2.png);
}

.header-slider-image-three {
  background-image: url(../public/banner3.png);
}

#header-slider1:checked~#point-control1::before,
#header-slider2:checked~#point-control2::before,
#header-slider3:checked~#point-control3::before {
  background-color: var(--orange);
  transition: all ease 0.5s;
  box-shadow: 0px 0px 5px 2px var(--orange);
}

#point-control1:hover#point-control1::before,
#point-control2:hover#point-control2::before,
#point-control3:hover#point-control3::before {
  box-shadow: 0px 0px 5px 2px var(--orange);
  transition: all ease 0.5s;
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 20%;
}

.feature-col {
  display: flex;
  flex-direction: column;
}

/* Products */
.products {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.products h2 {
  align-self: center;
}

.products-block {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 2.6%;
}

.product-card {
  background-color: var(--light-bg);
  position: relative;
}

.product-card-img {
  width: 100%;
  height: 285px;
}

.product-card-text-block {
  padding: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.product-card-text-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-card-last-price {
  text-decoration: line-through;
}

.product-card-new {
  background-color: var(--green);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-card-sale {
  background: var(--red);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Hovered Card */
.card-hover-invisible {
  display: none;
}

.card-hover {
  display: block !important;
  background-color: #0000008c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-hover-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  gap: 20%;
  padding-top: 60%;
}

.card-hover-button {
  width: 80%;
}

.card-hover-line {
  display: flex;
  align-items: center;
  margin-left: -10%;
  gap: 20%;
  justify-content: space-between;
}

.card-hover-item {
  display: flex;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}

.like-item:hover .like path {
  fill: var(--white);
  stroke: var(--orange);
  transition: all ease 0.5s;
}

.like-item:hover p {
  cursor: pointer;
}

.liked path {
  fill: var(--orange);
}

.liked-item:hover .liked path {
  fill: var(--orange) !important;
  stroke: #262F56 !important;
  transition: all ease 0.2s;
}

/* Tips block */
.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 2vh;
}

.tips-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tips-card {
  width: 30%;
}

.tips-card-img {
  width: 100%;
}

.tips-card-text-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  padding: 3%;
}

.tips-control-block {
  display: flex;
  gap: 10%;
  margin-left: -1.5%;
}

#tips-slider1:checked~#tips-control1::before,
#tips-slider2:checked~#tips-control2::before,
#tips-slider3:checked~#tips-control3::before,
#tips-slider4:checked~#tips-control4::before {
  background-color: var(--orange);
  transition: all ease 0.5s;
  box-shadow: 0px 0px 5px 2px var(--orange);
}

#tips-control1:hover#tips-control1::before,
#tips-control2:hover#tips-control2::before,
#tips-control3:hover#tips-control3::before,
#tips-control4:hover#tips-control4::before {
  box-shadow: 0px 0px 5px 2px var(--orange);
  transition: all ease 0.5s;
  cursor: pointer;
}

.tips-arrows-control-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  width: 102%;
}

.tips-arrow-block {
  background-color: var(--white);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px -5px var(--black);
}

.tips-arrow-block:hover {
  background-color: var(--orange);
  transition: all ease 0.5s;

  .tips-arrows-control {
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(134deg) brightness(101%) contrast(101%);
  }
}

.tips-arrows-control {
  filter: invert(63%) sepia(84%) saturate(300%) hue-rotate(328deg) brightness(104%) contrast(82%);
}

/* Registration and authorization page */

.revert-orange-block {
  background-image: linear-gradient(to right, var(--light-peach) 79.5%, var(--peach) 70%);
}

.reg-form {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 0 auto;
  padding: 2vh 2%;
  border-radius: 5%;
}

.reg-title-line {
  display: flex;
  align-items: center;
  gap: 27%;
}

.reg-input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5vh;
}

.reg-input {
  width: calc(100% - 4%);
  font-size: 16px;
  color: var(--dark-gray);
  background-color: var(--white);
  border: 1px solid var(--orange);
  padding: 0.5vh 2%;
  height: 3vh;
  font-family: inherit;
}

.reg-input::placeholder {
  color: var(--orange);
  font-family: inherit;
  font-size: 16px;
}

.reg-input:focus-visible {
  outline: none;
  background-color: var(--light-peach);
}

.reg-input:user-invalid {
  background-color: var(--peach);
  border: 1px solid var(--red);
}

.reg-input:hover {
  background-color: var(--peach);
  border: 1px solid var(--orange);
}

.max {
  height: calc(100vh - 2vh - 60px - 30px);
}

.reg-bottom-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.reg-bottom-block p u b {
  cursor: pointer;
}

.reg-bottom-block p u b:hover {
  opacity: 0.5;
  transition: all ease 0.5s;
  font-size: 18px;
}

.reg-button {
  width: 50%;
  background-color: var(--orange);
  border: 1px solid var(--white);
  color: var(--white);
  margin: 0 25%;
}

.reg-button:hover {
  background-color: var(--white);
  border: 1px solid var(--orange);
  color: var(--orange);
  transition: all ease 0.5s;
}

.reg-title-line p:hover {
  opacity: 0.5;
  transition: all ease 0.5s;
  cursor: pointer;
}

/* Basket */
.basket {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.basket-block {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
  width: 70%;
}

.basket-price {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.basket-price-text-block {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;  
}

.basket-price-block {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.basket-price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-button {
  width: 100%;
}

.rounded-button {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  border-radius: 100%;
  padding: 0;
}