/* https://codepen.io/sosuke/pen/Pjoqqp */
:root {
  --peach: #F9F1E7;
  --light-peach: #FCF8F3;
  --orange: #E89F71;
  --white: #ffffff;
  --white-opacity: #ffffff81;
  --dark-gray: #3A3A3A;
  --gray: #616161;
  --light-gray: #D8D8D8;
  --red: #E97171;
  --green: #2EC1AC;
  --black: #000000;
  --light-bg: #F4F5F7;
}

* {
  padding: 0;
  margin: 0;
}

body, input, button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.orange-block {
  background-image: linear-gradient(to right, var(--peach) 70%, var(--light-peach) 70%);
}

.white-block {
  background-color: var(--white);
}

.mb {
  margin-bottom: 5vh;
}

button {
  background: var(--white);
  border: 1px solid var(--orange);
  padding: 12px 22px;
  color: var(--orange);
  font-weight: 600;
  font-size: 16px;
}

/* Typography */

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark-gray);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark-gray);
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
}

h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
}

.title {
  font-weight: 900;
  line-height: auto;
  color: var(--black);
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-gray);
}

p, a {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark-gray);
}

.small-text {
  font-size: 14px;
}

.big-text {
  font-size: 18px;
}

.large-text {
  font-size: 20px;
}

b {
  font-weight: 800;
  font-size: inherit;
  color: inherit;
}

u {
  font-weight: inherit;
  font-size: inherit;
  color: var(--orange);
}

.white-text {
  color: var(--white);
}

.light-text {
  color: var(--light-gray);
}

.gray-text {
  color: var(--gray);
}

/* Header */

header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.dropdown-line {
  display: flex;
  gap: 5px;
}

.dropdown-arrow {

}

.search {
  display: flex;
}

.search-input {
  padding: 13px 12px 13px 10px;
  color: var(--gray);
  font-size: 14px;
  border: none;
  width: 20vw;
}

.search-input:hover::placeholder {
  color: var(--orange);
}

.search-input:focus-visible {
  outline: none;
  background-color: var(--light-peach);
}

.search-button {
  background-color: var(--white);
  padding: 0 13px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--light-peach);
}

.nav-icon {

}

/* Main page */

/* Header slider */
.header-slider {
  height: 60vh;
}

.header-slider-inner-block {
  display: flex;
  z-index: 5;
  position: relative;
}

.header-slider-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-opacity);
  padding: 5%;
  width: 30%;
  height: 40vh;
}

.invert {
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
}

.control-block {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  width: 65%;
  margin-left: 2%;
}

.points-control-block {
  display: flex;
  gap: 30%;
}

.points-control-input {
  display: none;
}

.points-control-label::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-color: var(--light-gray);
  border-radius: 100%;
}


.arrows-control-block {
  display: flex;
  align-items: center;
  gap: 5%;
}

.arrow-block {
  background-color: var(--orange);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border-radius: 100%;
}

.arrow-block:hover {
  opacity: 0.3;
}

.arrows-control {
  filter: invert(100%) sepia(5%) saturate(7464%) hue-rotate(291deg) brightness(1000%) contrast(105%);
}

.arrow-left {
  transform: rotate(90deg);
}

.arrow-right {
  transform: rotate(270deg);
}

.header-slider-images-block {
  z-index: 0;
  position: relative;
  top: -48vh;
  height: 55vh;
  display: flex;
  margin-left: -50%;
  margin-right: -50%;
  gap: 2vw;
}

.header-slider-image {
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.header-slider-image-text-block {
  width: 20%;
  position: absolute;
  background-color: var(--white-opacity);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  gap: 7px;
  right: 15px;
  bottom: 15px;
}

.header-slider-image-texl-line {
  display: flex;
  align-items: center;
}

.header-slider-image-icon {

}

.header-slider-image-one {
  background-image: url(../public/banner1.png);
}

.header-slider-image-two {
  background-image: url(../public/banner2.png);
}

.header-slider-image-three {
  background-image: url(../public/banner3.png);
}

#header-slider1:checked~#point-control1::before,
#header-slider2:checked~#point-control2::before,
#header-slider3:checked~#point-control3::before {
  background-color: var(--orange);
  transition: all ease 0.5s;
  box-shadow: 0px 0px 5px 2px var(--orange);
}

#point-control1:hover#point-control1::before,
#point-control2:hover#point-control2::before,
#point-control3:hover#point-control3::before {
  box-shadow: 0px 0px 5px 2px var(--orange);
  transition: all ease 0.5s;
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 20%;
}

.feature-col {
  display: flex;
  flex-direction: column;
}

/* Products */
.products {

}

.products-block {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 2.6%;
}

.product-card {
  background-color: var(--light-bg);
  position: relative;
}

.product-card-img {
  width: 100%;
}

.product-card-text-block {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.product-card-text-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-card-last-price {
  text-decoration: line-through;
}

.product-card-new {
  background-color: var(--green);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-card-sale {
  background: var(--red);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.invisible {
  display: none;
}